@model Association.DB.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <table class="table-bordered table">
        @foreach (var c in Model.Courses)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Name</td>
            </tr>
        }
    </table>

    <table class="table-bordered table">
        @foreach (var c in Model.Students)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Name</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
