
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Dob</th>
        <th>Cgpa</th>
        <th>Address</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Dob</td>
            <td>@item.Cgpa</td>
            <td>@item.Address</td>

        </tr>
    }
</table>

